*{margin:0; padding: 0;border: none}

body, html, #root{height: 100%}

#root{
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

#stageContainer{
	background: #000000;
	position: relative;
	overflow: hidden;
}

.shapeContainer{
	position: absolute;
}
.shapeContainer>div{
	position: relative;
}
.shapeContainer>div>div,
#unitsWrapper>div{
	width : 20px;
	height : 20px;
	background: #9600ff;
	position: absolute;
}

